# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================

.venv/
venv/
env/
ENV/
myvenv/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Chroma Vector Database
# ==========================

chroma_db/

# ==========================
# Uploaded PDFs
# ==========================

uploads/

# ==========================
# Streamlit Cache
# ==========================

.streamlit/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Temporary Files
# ==========================

*.tmp
*.bak